---

- hosts: all

  tasks:
    - name: curlによるCentOS7.3 minimalの取得
      command: curl -LO http://archive.kernel.org/centos-vault/7.3.1611/isos/x86_64/CentOS-7-x86_64-Minimal-1611.iso creates=/tmp/CentOS-7-x86_64-Minimal-1611.iso
    - name: qemuユーザーの制御できる/tmpへcp
      command: cp -p CentOS-7-x86_64-Minimal-1611.iso /tmp creates=/tmp/CentOS-7-x86_64-Minimal-1611.iso
    - name: mkdir kvm
      file:
        dest: /root/kvm
        state: directory
    - name: chk-sha256sum.sh
      copy:
        src: ../files/chk-sha256sum.sh
        dest: /root/kvm/chk-sha256sum.sh
        mode: 0755
    - name: mv
      command: mv CentOS-7-x86_64-Minimal-1611.iso /root/kvm creates=/root/kvm/CentOS-7-x86_64-Minimal-1611.iso
    - name: sha256sum
      command: /root/kvm/chk-sha256sum.sh /root/kvm/CentOS-7-x86_64-Minimal-1611.iso 27bd866242ee058b7a5754e83d8ee8403e216b93d130d800852a96f41c34d86a
    - name: install.sh
      copy:
        src: ../files/install.sh
        dest: /root/kvm/install.sh
        mode: 0755
    - name: host_only.xml
      copy:
        src: ../files/host_only.xml
        dest: /root/kvm/host_only.xml
        mode: 0644
    - name: setup.sh
      copy:
        src: ../files/setup.sh
        dest: /root/kvm/setup.sh
        mode: 0644
