---

- hosts: all

  tasks:
    - name: yum install tigervnc-server
      yum: name=tigervnc-server state=latest
    - name: yum install curl
      yum: name=curl state=latest
    - name: yum group-install
      yum: name="{{ item }}" state=present
      with_items:
        - "@Virtualization Client"
        - "@Virtualization Platform"
        - "@Virtualization Tools"
        - "@^gnome-desktop-environment"
    - name: restart libvirtd
      command: systemctl restart libvirtd
    - name: enable libvirtd
      command: systemctl enable libvirtd
